.section1{ 
    
    max-width:100%;
    height:885px;
    background: transparent url('./Desktop/finalproject/Image\ 73.jpg') 0% 0% no-repeat padding-box; 
   
}
.section0{
    background-color: #FFFFFF;
}
.container-fluid{
    top: 0px;
    left: 0px;
    max-width:100%;
    height: 223px;
    background:100% transparent url('./Desktop/finalproject/mask28.png') 0% 0% no-repeat padding-box;
    opacity: 1; 
     
}
.navbar-nav{
font-size: 25px;
padding-top: 50px;
}

.navbar-nav li a:hover {
  color: rgb(224, 52, 52);
  background-color: transparent;
}


.hi{
text-align: center;
}
.img1{
 padding-top:25px;
 text-align: center;
}
.fstsec{
    margin-left:230px;
}
.btn1{
    margin-left:70px;
    border-radius: 100%;   
}
.section2{

max-width:100%;
height: 1201px;
background: transparent url('./Desktop/finalproject/Rectangle\ 73.jpg') 0% 0% no-repeat padding-box;

}
.sec2{
    background: transparent url('./Desktop/finalproject/Mask\ Group\ 27.png') 0% 0% no-repeat padding-box;
    padding-top: 100px;
}
.section3{
top: 0px;
left: 0px;
max-width:100%;
height: 662px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
text-align: center;
}
.section4{
top: 2962px;
left: 0px;
max-width:100%;
height: 662px;
background: transparent url('./Desktop/finalproject/Group\ 57.jpg') 0% 0% no-repeat padding-box;
opacity: 1;
text-align: center;
}
.section5{
    top: 3624px;
    left: 0px;
    max-width:100%;
    height: 635px;
    background: transparent url('./Desktop/finalproject/Rectangle\ 42.jpg') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
}

.img2{
  padding-left: 200px;  
}
.btn{
margin-top:60px;
}
.carousel{
    padding-top: 100px;
}
.carousel-caption h2{
    color:red;
    font-family:sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
.item{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
} 
.item:first-child{
display: block;
}
.carousel-indicators li{
   color: red;
}
.carousel-inner{
    position: relative;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 40%;
    margin: auto;
  }
  .img2{
    text-align: right;
  }
  .ft{
    font-size: 100px;
  }
  .img3{
    margin-left: 100px;
  }
  .my-container{
    text-align: center;
  }
  .img4{
width: 600px;
margin: center;
  }
 .img5{
  width: 600px;
 }
 .yi{
  color:green;
  font-size: 30px;
 }